<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/buttons.css">
<link rel="stylesheet" href="../../css/table.css">
<body>
  <header>
    <a href="/" class="logo">GIF ISLAND</a>
      <ul>
        <li><a href="/home/enviargif">Home</a></li>
        <li><a href="/home/enviargif">Enviar GIF</a></li>
        <div class="dropdown">
          <a class="dropbtn">Categorias</a>
          <div class="dropdown-content">
            <a href="/home/categoria/0">Geral</a>
            <a href="/home/categoria/1">Anime Feminino</a>
            <a href="/home/categoria/2">Anime Masculino</a>
            <a href="/home/categoria/3">Feminino</a>
            <a href="/home/categoria/4">Masculino</a>
            <a href="/home/categoria/5">Couple</a>
            <a href="/home/categoria/5">Filmes</a>
          </div>
        </div>
        <li><a href="/home/pedidos">Fazer um encomenda</a></li>
        <li><a href="/home/historico" class="active">Histórico</a></li>
        <li><a href="/home/post/pedidos">Pedidos</a></li>
          <img style="max-height: 30px;max-width:35px;border-radius: 100px;position: relative;" src="https://cdn.discordapp.com/avatars/<%= user.discordId  %>/<%= user.avatar %>.png"><li><a href="/perfil" ><%= user.username %></a></li>
      </ul>
  </header>
  <section>
    <!--for demo wrap-->
    <h1></h1>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>Pedido</th>
            <th>Conteudo</th>
            <th>Observação</th>
            <th>Data</th>
            <th>Respondido Por</th>
            <th>Data da Resposta</th>
            <th>Quantidade de arquivos</th>
            <th>Baixar</th>
          </tr>
        </thead>
      </table>
    </div>
    <div id="preloader">
      <div id="loader"></div>
      <h1></h1>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <% pedido.map(async gif => { %> 
            <tr>
              <td>#<%= gif.pedido%></td>
              <td><%= gif.conteudo %></td>
              <td><%= gif.obs %></td>
              <td><%= moment(gif.pedidoData).format('D/MM/YYYY') %></td>
              <% if(gif.respId === null){ %>
              <td>N/A</td> 
              <% }else{ %>
                <td><%= gif.respId %></td>
              <% } %>             
              <% if(gif.respData === null){ %> 
              <td>N/A</td> 
                <% }else{ %>
              <td><%= moment(gif.respData).format('D/MM/YYYY') %></td>
              <% } %>
              <% if(gif.arquivos === null){%>
              <td>N/A</td> 
              <% }else{ %>
                <td><%= gif.arquivos.length %></td>
              <% } %>
              <% if(gif.arquivos === null){%>
                <td>N/A</td> 
                <% }else{ %>
                  <td data-pedido="<%= gif.pedido %>" onclick="baixar(this)">Baixar</td>
                <% } %>         
            </tr>
          <% }) %> 
        </tbody>
      </table>
    </div>
  </section>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip-utils/0.1.0/jszip-utils.min.js" integrity="sha512-3WaCYjK/lQuL0dVIRt1thLXr84Z/4Yppka6u40yEJT1QulYm9pCxguF6r8V84ndP5K03koI9hV1+zo/bUbgMtA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io('http://localhost:3000');
        var zip = new JSZip();
        var timeout = 0
        var quantidade = 0
        function baixar(evt){
            $('#preloader').css('display','block')
            $('#preloader').css('background-color','rgba(0,0,0,0.5)')
            $('#send_button').attr('disable',true)
            socket.emit('getPedidoInfo',$(evt).data('pedido'))
        }
        socket.on('sendPedidoInfo',async data => {
                quantidade = data.arquivos.length
                if(data.arquivos.length > 50 && data.arquivos.length < 100){
                    timeout = 10000
                }else if (data.arquivos.length > 100 && data.arquivos.length < 150){
                    timeout = 20000
                }else if(data.arquivos.length > 150){ 
                    timeout = 60000
                }else if(data.arquivos.length < 50){
                    timeout = 5000
                }
                $('#preloader').find('h1').html('Compactando: 0/'+data.arquivos.length)
                zip.file("Obrigado.txt", "Obrigado por escolher a gifIsland :)");
                for(var i = 0; i < data.arquivos.length; i++){
                    loadImage('../.'+data.arquivos[i],i)
                }      
            })
        let foi = 0
        function loadImage(url,i) {
        var request = new XMLHttpRequest();
        request.open("GET", url);
        request.responseType = "blob";
        request.onload = function() {
          console.log(this.response);
          var response = this.response;
          var filename = "<%= user.discordId %>"+i+"."+ response.type.split("/")[1];
          zip.file(filename, response)
          zip.file(filename)
            .async("base64")
            .then(function(content) {               
                foi = foi +++ 1
                $('#preloader').find('h1').html('Compactando: '+foi+' de '+quantidade)
                if(foi === quantidade){
                  $('#preloader').find('h1').html('Completo! Começando o download em '+timeout / 1000+' segundos!!!')
                    setTimeout(async() => {
                           baixarZip()
                    },timeout)
                }
              },
              function(e) { 
                  
              });
          
        }
        request.send()
      }

      function baixarZip(){
        zip.generateAsync({type:"blob"})
            .then(function(content) {
            saveAs(content, "<%= user.discordId %>");
            $("#notify").css("display","none")
            $('#preloader').css('display','none')
            foi = 0
            quantidade = 0
            timeout = 0
        });
      }
      </script>
  